@media (max-width: 768px) {
    body {
        font-size: 0.9rem;
        line-height: 1.6;
        padding: 10px;
    }

    nav {
        text-align: center;
        padding: 10px;
        box-shadow: 0 1px 3px lightgray;
    }

    nav a {
        display: block;
        margin: 8px 0;
        font-size: 0.9rem;
    }

    h1 {
        font-size: 1.8rem;
        margin: 20px 10px;
        text-shadow: 1px 1px 3px gray;
    }

    h2 {
        font-size: 1.6rem;
        margin: 20px 10px;
        border-bottom: 1px solid limegreen;
    }

    h3 {
        font-size: 1.3rem;
        margin: 15px 10px;
    }

    ul {
        margin: 15px 20px;
        padding: 0;
        list-style-type: circle;
    }

    li {
        margin: 8px 0;
        padding-left: 10px;
        line-height: 1.5;
        font-size: 0.9rem;
    }

    p {
        font-size: 0.9rem;
        margin: 10px 20px;
        line-height: 1.6;
    }

    em {
        font-size: 0.9rem;
    }

    footer {
        font-size: 0.8rem;
        padding: 10px 0;
    }
}

